CACHE_ENDPOINT="" # Required!
CACHE_ENDPOINT_USERNAME=""
CACHE_ENDPOINT_PASSWORD=""
CACHE_DEFAULT_ENTRY_NAME="default"
CACHE_TAG_HEADER="xkey"

# This tells the script to also clear the cache for the URL-encoded version of the dataset URI
SUPPORT_URL_ENCODED="true"

# SPARQL endpoint configuration
SPARQL_ENDPOINT_URL="" # Required!
SPARQL_USERNAME=""
SPARQL_PASSWORD=""
